<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1021790225702-oumapilrq98bksnm22pgu4kpfv2b9fjo.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1021790225702-oumapilrq98bksnm22pgu4kpfv2b9fjo</string>
	<key>API_KEY</key>
	<string>AIzaSyA2bIITr2xs4Nm0JSZP18XtPYMhe4hYhmE</string>
	<key>GCM_SENDER_ID</key>
	<string>1021790225702</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.firebasedemo</string>
	<key>PROJECT_ID</key>
	<string>fir-demo-56e28</string>
	<key>STORAGE_BUCKET</key>
	<string>fir-demo-56e28.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1021790225702:ios:1879875394438d57202de7</string>
</dict>
</plist>